*{
    color: black;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    /* background-color: rgb(128, 128, 200); */
    min-width: 469px;
    background: linear-gradient(260deg, rgb(127, 127, 213), rgb(134, 168, 231), rgb(145, 234, 228));
}
.header {
    position: relative;
}
.navbar {
    position: sticky;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.navbar ul li {
    list-style: none;
    padding: 5px 12px;
}
.navbar ul li a {
    text-decoration: none;
    font-size: 1.35rem;
    color: black;
}
.navbar-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0;
    background-color: #4646ce17;
    top: 0px;
    min-height: 90px;
    height: 10vh;
}
li {
    list-style: none;
    padding: 8px 24px;
    text-align: center;
}
li a {
    text-decoration: none;
}
li:hover {
    background-color: #a09fb736;
}


input,
button {
    padding: 10px 20px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: 200px;
    display: block;
    outline: none;
    border: none;
}
input:focus {
    opacity: 0.6;
}
button {
    /* background-color: rgb(89, 89, 151); */
    color: #05ffa6;
    width: 240px;
    cursor: pointer;
    color: black;
}
button:hover {
    background: rgb(49, 140, 224);
    opacity: 0.8;
}
button:active {
    background: white;
}
h2 {
    color: white;
    text-align: center;
    font-weight: 900;
}
span {
    font: 100 20px sans-serif;
    border: solid white 2px;
    padding: 4px 8px;
    border-radius: 50%;
    cursor: pointer;
    /* color: rgba(5, 3, 3, 0.699); */
    color: white;
    position: absolute;
    right: 50px;
    top: 50px;
}
span:hover {
    color: rgb(65, 63, 65);
    border-color: rgb(65, 63, 65);
}
div,
form {
    width: 150px;
    height: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background: #35333d;
    transition: 0.4s ease;
}
form {
    position: absolute;
    width: 300px;
    height: 300px;
    margin: auto;
    opacity: 0;
}
div.open form {
    opacity: 1;
}
/*Last wala button button with father div when it has no classname 'open'*/
div > button {
    width: 150px;
    height: 40px;
    position: absolute;
    /* position: 0 0 0 0 ; */
    margin: auto;
    background: white;
}
/*Last wala button button with father div when it has classname 'open'*/
div.open > button {
    opacity: 0;
    transition: 0.7s;
    z-index: -3;
}
div.open {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0;
}
div form button {
    background-color: aqua;
}
